#landing-section {
	height: 80vh;
	background-color: #efeded;
	border-bottom-left-radius: 15%;
	border-bottom-right-radius: 15%;
	padding: 24px;
}

/* Header */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
}

#header-left-side {
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.white-button {
	height: 40px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background-color: #feffff;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

.white-button:hover {
	color: #feffff;
	background-color: #333;
}

.icon {
	width: 18px;
}

#header-right-side {
	display: flex;
	align-items: center;
	column-gap: 12px;
}

.social-link {
	text-decoration: none;
	color: black;
}

.social-link:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 5px;
}

/* Center landing */

#landing-center-container {
	height: 70%;
	margin: 25px 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 24px;
}

#avatar-container {
	height: 25%;
	aspect-ratio: 1/1;
	border-radius: 100%;
	padding: 5px;
	background-color: #feffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#avatar {
	height: 100%;
}

#name-tag-container {
	background-color: #feffff;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: -50px;
	margin-right: -200px;
	padding: 15px 20px;
	border-radius: 100px;
	font-size: 12px;
	transform: rotate(-15deg);
}

#catchphrase-container {
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	text-align: center;
	background: linear-gradient(97.0286deg, rgb(11, 11, 11) 0%, rgba(12, 12, 12, 0.55) 100%, rgba(12, 12, 12, 0.55) 100%); /* Standard syntax */
	background-clip: content-box;
	-webkit-background-clip: text; /* For old WebKit browsers */
	background-clip: text; /* Standard syntax, currently only supported in Firefox */
	-webkit-text-fill-color: transparent;
	color: transparent; /* Standard syntax, in case it becomes supported in the future */
}

.black-button {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	background-color: #333;
	cursor: pointer;
	text-decoration: none;
	color: #feffff;
	padding: 10px 20px;
	column-gap: 10px;
}

.black-button:hover {
	color: #333;
	background-color: #feffff;
}

/* Media queries */

@media (max-width: 768px) {
	#catchphrase {
		font-size: 28px;
		line-height: 38px;
	}

	.black-button {
		font-size: small;
	}
}

@media (min-width: 768px) {
	#catchphrase {
		font-size: 40px;
		line-height: 50px;
	}

	.black-button {
		font-size: medium;
	}
}
